<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./style.css">
  <title>Developer Portfolio</title>

  <style>
    body {
      background-color: #333;
      color: #fff;
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
      background-image::after url('Danganronpa_V3_CG_-_Monokuma_telling_the_students_the_first_motive.webp');
      background-repeat: no-repeat;
      background-size: cover;
    }

    header {
      background-color: #333;
      color: #fff;
      padding: 20px;
      text-align: center;
    }

    h1 {
      margin: 0;
    }

    nav {
      margin-top: 20px;
    }

    nav a {
      color: #fff;
      text-decoration: none;
      margin-right: 10px;
    }

    main {
      padding: 20px;
    }

    h2 {
      color: #fff;
      margin-top: 0;
    }

    p {
      font-size: 18px;
      line-height: 1.5;
    }

    .application {
      margin-bottom: 30px;
      padding: 20px;
      background-color: #f5f5f5;
      border-radius: 20px;
    }

    .title {
      font-size: 24px;
      margin: 0 0 10px;
    }

    .description {
      margin: 0;
    }

    .view-button {
      display: inline-block;
      padding: 10px 20px;
      background-color: #f44336;
      color: #ffffff;
      text-decoration: none;
      border-radius: 50px;
      transition: background-color 0.3s ease;
    }

    .view-button:hover {
      background-color: #d32f2f;
    }
  </style>
</head>

<body>
  <header>
    <h1>jamie charlemagne</h1>
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT6sLTh1ajcuNW1CbyTLF7nqIYJLX4rVzkT1A&usqp=CAU"
      alt="developer photo.">
    <nav>
      <a href="#about me">About me</a>
      <a href="#work">Work</a>
      <a href="#contact">Contact</a>
    </nav>
  </header>
  <main>
    <section id="about me">
      <h2>About</h2>
      <p>Hello! I am an upcoming developer with a lot to contribute to your company. My guilty pleasure is Danganronpa
        and playing video games in my free time. If you want to know anything else about me, feel free to ask!</p>
    </section>
    <section id="work">
      <h2>Work</h2>

      <!-- Your work applications here -->

    </section>

    <section id="contact">
      <h2>Contact</h2>
      <p>###: 678-618-5865</p>
      <p>Email: jamie.charlemagne1992@gmail.com</p>
    </section>

  </main>
</body>

</html>
